html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'VarelaRound';
  src: url(fonts/VarelaRound-Regular.ttf);
}

body {
  font-family: 'VarelaRound', sans-serif;
  color: #c2d2c0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #011627;
}


.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}


nav {
  display: flex;
  justify-content: flex-start;
  font-family: 'VarelaRound', sans-serif;
  align-items: center;
  background-color:#011627;
  color: #c2d2c0;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.name {
  margin-right: 4em; /* distance between name and links */
}

.name h1 {
  font-size: 20px;
  margin: 0;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color:#c2d2c0;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-links a:hover {
  color: #0c8aca;
}

.social-links {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.social-links a {
  color: #c2d2c0;
  font-size: 1.5em;
  text-decoration: none;
}

.social-links a:hover {
  color: #0c8aca;
}

main {
  padding: 2em;
}
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#home{
 align-items: center;
 display: flex;
 flex-direction: column;
 margin: auto;
 max-width: 1000px;
 min-height: 100vh;
 padding-top: 200px;
}

.home-title{
  font-size: 86px;
  font-family: 'VarelaRound', sans-serif;
}

.footer {
  background-color: transparent;
  color: #c2d2c0;
  text-align: center;
  font-size: 15px;
  padding: 1em 0;
  width: 100%;
  margin-top: auto;
  
}

canvas {
    position: absolute;
    margin-top: 170px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 450px; /* Should match canvasWidth in JavaScript */
    height: 100px; /* Should match canvas.height in JavaScript */
    z-index: -1;
    pointer-events: none;
}