html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'VarelaRound';
  src: url(fonts/VarelaRound-Regular.ttf);
}

body {
  font-family: 'VarelaRound', sans-serif;
  color: #92cfee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #13173b;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}


nav {
  display: flex;
  justify-content: flex-start;
  font-family: 'VarelaRound', sans-serif;
  align-items: center;
  background-color:#13173b;
  color: #0c8aca;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.name {
  margin-right: 4em; /* distance between name and links */
}

.name h1 {
  font-size: 20px;
  margin: 0;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color:#0c8aca;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-links a:hover {
  color: rgb(218, 196, 196);
}

.social-links {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.social-links a {
  color: #0c8aca;
  font-size: 1.5em;
  text-decoration: none;
}

main {
  padding: 2em;
}

#home{
 align-items: center;
 display: flex;
 flex-direction: column;
 margin: auto;
 max-width: 1000px;
 min-height: 100vh;
 padding-top: 200px;
}

.home-title{
  font-size: 86px;
  font-family: 'VarelaRound', sans-serif;
}

.footer {
  background-color: transparent;
  color: #0c8aca;
  text-align: center;
  font-size: 15px;
  padding: 1em 0;
  width: 100%;
  margin-top: auto;
  
}